"*":
  "atom-beautify":
    crystal:
      beautify_on_save: true
    css:
      beautify_on_save: true
    html:
      beautify_on_save: true
    js:
      disabled: true
    jsx:
      disabled: true
    markdown:
      beautify_on_save: true
    nginx:
      beautify_on_save: true
    ruby:
      default_beautifier: "Ruby Beautify"
  "autocomplete-modules":
    babelPluginModuleResolver: true
    webpack: true
  core:
    closeDeletedFileTabs: true
    closeEmptyWindows: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
      "language-babel"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    projectHome: "/Users/isaac/Code"
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Inconsolata"
    fontSize: 19
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  emmet: {}
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "language-babel": {}
  "linter-eslint": {}
  "linter-ui-default":
    panelHeight: 81
  "markdown-preview": {}
  nuclide:
    "nuclide-home":
      showHome: false
    remoteProjectsConfig: []
  "nuclide-home":
    showHome: true
  react:
    enabledForAllJavascriptFiles: true
  "release-notes":
    viewedVersion: "0.89.0"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  welcome:
    showOnStartup: false
".js.jsx.react.source":
  editor:
    autoIndent: true
".js.jsx.source":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
